td, th {
	border: 1px solid;
	background-image: url("..images/planets.gif");
}

tr {
	background-image: url("..images/planets.gif");
}

h1 { 
	color: lightgreen;
	font-family: cursive, fantasy, sans-serif;
	text-align: center;
	font-size: 3rem;
	font-weight: 300;
	background-color: lightyellow;
}

td:nth-child(1) {
	font-family: fantasy;
	background-color: lightgreen;
}

td:nth-child(2) {
	font-family: cursive;
	background-color: lightyellow;
}
td:nth-child(3) {
	font-family: fantasy;
	background-color: lightgreen;
}

td:nth-child(4) {
	font-family: cursive;
	background-color: lightyellow;
}
td:nth-child(5) {
	font-family: fantasy;
	background-color: lightgreen;
}
td:nth-child(odd) {
	transform: rotate(5deg);
}
td:nth-child(even) {
	transfrom: rotate(5deg);
}

table {
	margin-left: auto;
	margin-right: auto;
	border-image: url("..images/border.png");
}







