td, th {
	border: 1px solid;
}

h1 { 
	color: lightgreen;
	font-family: cursive, fantasy, sans-serif;
	text-align: center;
	font-size: 3rem;
	font-weight: 300;
	background-color: lightyellow;
}

th {
  border: 5px solid lightgreen;
  font-size: 13px; 
  color: black;
  background-image: url("../images/stars.gif");
}

td:nth-child(odd){
  font-family: fantasy;
  background-color: lightgreen;
  transform: rotate(5deg);
}

td:nth-child(even) {
  font-family: cursive;
  background-color: lightyellow;
  transform: rotate(5deg);
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 100px solid transparent;
	border-image: url("../images/planets.gif");
  background-color: darkgreen;
}







